# Ignore PyCharm configuration files
.idea/

# Ignore Python bytecode compilation caches
__pycache__/
*.pyc

# Ignore local audio/log outputs if any
*.wav
*.log

# Ignore the raw data files
AI/midi_files/